/* DARK MODE STYLES */
.country-card.dark {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 0px 4px 0px hsl(200, 15%, 8%);
  color: hsl(0, 0%, 100%);
}

/* DEFAULT STYLES */

.country-list {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  gap: 4rem;
  margin: 2rem 0;
}

.country-card {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px #eeeeee;
  color: hsl(200, 15%, 8%);
  overflow: hidden;
  width: 300px;
}

.country-card img {
  height: 150px;
  object-fit: cover;
  width: 300px;
}

.country-card .info-container {
  min-height: 230px;
  padding: 2rem;
  padding-bottom: 3rem;
}

.country-card .info-container h3 {
  margin-bottom: 1rem;
}

.country-card .info-container p {
  font-weight: 600;
  margin: 0.3rem 0;
}

.country-card .info-container span {
  font-weight: 400;
}

@media screen and (min-width: 400px) {
  .country-list {
    margin: 2rem 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .country-list {
    margin: 3rem 6rem;
  }
}

