/* DARK MODE STYLES */
.search.dark .search-bar-container,
.search.dark p,
.search.dark ul {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 0px 4px 0px hsl(200, 15%, 8%);
}

.search.dark .search-bar {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

/* StackOverflow snippet to remove browser autofill background color */
.search.dark input:-webkit-autofill,
.search.dark input:-webkit-autofill:hover, 
.search.dark input:-webkit-autofill:focus, 
.search.dark input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px hsl(209, 23%, 22%) inset;
  -webkit-text-fill-color: white;
}

.search.dark .search-bar::placeholder {
  color: white;
}

.search.dark .select-menu {
  box-shadow: 0px 0px 4px 0px hsl(200, 15%, 8%);
}

.search.dark .options-menu-container::before {
  border-top: 3px solid hsl(207, 26%, 17%);
}

.search.dark .option:hover {
  background: hsl(207, 26%, 17%);
}


/* DEFAULT STYLES */
/* Top-level styles */
.search {
  display: flex;
    justify-content: center;
  margin: 2rem 0;
}

.search-form {
  display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Search bar styles */

.search-bar-container {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 3px #eeeeee;
  display: flex;
    align-items: center;
  height: 3rem;
  padding: 1rem 1.5rem;
  width: 300px;
}

.search-bar-container .search-bar::placeholder{
  font-size: 0.7rem;
  font-weight: 600;
}

.search-bar-container i {
  width: 2rem;
}

.search-bar-container .search-bar {
  border: none;
  padding: 0.5rem;
}

.search-bar-container input:focus {
  outline: none;
}

/* StackOverflow snippet to remove browser autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Custom Select Menu styles*/

.select-menu{
  box-shadow: 0px 0px 4px 3px #eeeeee;
  cursor: pointer;
  height: 3rem;
  position: relative;
  width: 200px;
}

.select-menu p, .select-menu ul {
  background-color: white;
  font-size: 0.7rem;
  font-weight: 500;
}

.select-menu p {
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}

.select-menu i{
  position: absolute;
    top: 50%;
    right: 1rem;
  transform: translateY(-50%);
}

.options-menu-container::before{
  content: " ";
  display: block;
  border-top: 3px solid hsl(0, 0%, 97%);
}

.options-menu {
  border-radius: 5px;
  display: none;           
  list-style: none;
  padding: 0.5rem;
}

.active {
  display: flex;
    flex-direction: column;
  position: absolute;
  width: 200px;
}

/* this will be a click event toggle */
.select-menu:hover .options-menu .active {
}

.option {
  padding: 0.3rem;
}

.option:hover {
  background: hsl(0, 0%, 97%);
}

@media screen and (min-width: 600px) {

  .search {
    display: block;
    margin: 0 3rem;
  }

  .search-form {
    flex-direction: row;
    justify-content: space-between;
  }

}

@media screen and (min-width: 1200px) {
  .search {
    margin: 2rem 6rem;
  }
}